@mixin flexable(){
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin color($color,$bg-color){
   color: $color;
   background-color:$bg-color ;
}

@mixin align{
    display: flex;
    align-items: center;
    line-height: 24px;
    gap: 10px; 
}

@mixin responsive($breakpoint){
    @if($breakpoint==small){
@media (max-width:600px) {
    @content;
}
    } @else if($breakpoint==medium){
        @media (max-width:900px) {
            @content;
        }
    }@else if($breakpoint==large){
        @media (max-width:1200px) {
            @content;
        }
        
    }@else if($breakpoint==extra-large){
        @media (max-width:1500px) {
            @content;
        }
        
    }
}