header{
    .header-container{
        height: 60px;
        
    nav{
      height: 50px; 
        display: flex;
        align-items: center;
        position: fixed;
        background-color: white;
        left: 20px;
        right: 0;
        gap: $gap-30;
font-family:$font-arial;
@include responsive(medium){
    justify-content: space-between;
}
.logo{
    a{
        font-size: 28px;
       @include flexable;
        color: black;
    
        span{
            font-size: $primary-font;
            @include color(white,black);
            border-radius: 20px;
            padding: 4px;
            margin-left: 10px;
        }
    }
}
        .nav-list{
            display: flex;
          gap: $gap-30;
          @include responsive(medium){
            display: none;
        }
            li{
                a{
                    color: rgba(0, 0, 0,0.87);
                    font-size: 16px;
                    transition: all .4s;
                    padding: 6px;
                    &:hover{
                        background-color: rgb(243, 243, 243);
                        border-radius: 20px;
                      
                    }
                }
            }
        }
    
    .open-btn{
        font-size: 20px;
        margin-right: 40px;
        display: none;
        cursor: pointer;
        @include responsive(medium){
            display: block;
        }
    }}
}
}

// * responsive
header{
    .mobile-menu{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $third-color;
        display: none;
        transition: all .5s;
     @include responsive(medium){
       display: block;
     }
        .header{
            border-bottom: 1px solid gray;
            margin-bottom: 14px;
            padding: 20px;
            .heading {
            padding-bottom: 10px;}
            .sub-heading{
                font-size: 14px;
                color: rgb(130, 130, 130);
            }
        }
        .mobile-navbar{
            padding:10px  20px;
            display: flex;
            flex-direction: column;
            gap: 6px;
            li{
                padding: 10px;
                transition: all .4s;
                &:hover{
                    background-color: rgb(240, 240, 240);
                  
                }
                a{
                    color: rgba(0, 0, 0,0.87);
                    font-size: 16px;
                    transition: all .4s;
                   
                  
                }
            }
        }
    }
}