#about{
    margin-top: 40px;
    font-family: $font-arial; 
    @include responsive(small){
        .col-reverse{
            flex-direction: column-reverse;
        }
    }
    .about-item{
        h1{
            font-size: $heading-font;
            font-family: $font-roboto;
            font-weight: $fw-600;
        }
        span{
            font-weight: $fw-600;
            color: $secondary-color;
           
        }
        p{
            font-size: 16px;
            line-height: $l-height-24;
            padding: 14px 0;
        }
        .date-local{
           display: flex;
           align-items: center;
         
           gap: $gap-30;
           @include responsive(small){
            margin-bottom: 50px;
           }
           p{
            @include align;
            i{
                font-size: 24px;
            }
           }
           p{
            a{
               @include align;
               color: $blue-color;
               i{
                color: $primary-color;
               }
            }
           }
        }
        img{
            width: 100%;
            @include responsive(small){
                margin-bottom: 50px;
            }
        }
    }
    .bg-color{
        background-color: rgb(231, 231, 231);
        border: 1px solid gray;
        padding: 16px;
        display: flex;
            justify-content: space-between;
        border-radius: 20px;
        .about-end{
            margin-bottom: 20px;
            h2{
                font-size: $heading-font;
                font-weight: $fw-500;
            }
            p{
                line-height: $l-height-24;
            }
        }
        .about-card{
          
            .card-item{
                border: 1px solid gray;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
               width: 82%;
               height: 170px;
              margin-bottom: 16px;
               border-bottom: 20px solid rgb(151, 60, 142);
               border-bottom-left-radius: 30px;
               border-bottom-right-radius: 30px;
               @include responsive (small){
                width: 95%;
               }
                .count{
                    font-size: 28px;
                    padding-bottom: 10px;
                }
            }
        }
    }
}